* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	max-width: 800px;
	margin: 0 auto;
    padding-top: 3rem;
}

.slider {
	position: relative;
}

.slide {
	display: none;
}

.slide.active {
	display: block;
}

.slide img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	display: block;
}

.arrows {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1.75rem;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color: tomato;
}

.arrows:hover {
    cursor: pointer;
}

.square-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
}

.square {
	width: 10px;
	height: 5px;
	background-color: lightgray;
	border-radius: 5px;
	cursor: pointer;
}